.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 600px;
  height: 330px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 0px;
  position: relative;
  right: 300px;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 0px;
  border-radius: 12px 12px 0px 0px ;
  background-color: #02414D;
  color: white;
}

.modalContainer .body {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
  height: 50px;
  position: relative;
  left: 50px;
  top: 15px;
}

.modalContainer .body .isi {
  text-align: left;
  width: 400px;
  position: relative;
  left: 10px;
}

.modalContainer .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.modalContainer .footer button {
  width: 300px;
  height: 45px;
  margin: 10px;
  position: relative;
  top: 30px;
  border: none;
  background-color: #02414D;
  color: white;
  border-radius: 8px;
  border: 1px solid #02414D;
  font-size: 20px;
  cursor: pointer;
}

#cancelBtn {
  background-color: white;
}