.app{
  height: 100vh;
  .sections{
    height: 100vh;
    margin: 0;
    padding: 0;
    scrollbar-width: none; //for firefox
    &::-webkit-scrollbar {
        //chrome, safari, ms edge
      display: none;
    }
    display: flex;
    scroll-snap-align: y mandatory;
  }
}