@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.body {
    font-family:'Roboto',sans-serif;
    margin: 0;
    padding: 0;
    // list-style: none;
    // text-decoration: none;
        .sidebar {
        position: fixed;
        left: 0;
        top: 0;
        width: 340px;
        height: 100%;
        background: #02414D ;
            .header {
                font-size: 48px;
                color: white;
                text-align: center;
                line-height: 100px;
                user-select: none;
                font-weight: bold;
                font-family: "Montserrat", sans-serif;
            }
            ul li {
                list-style-type: none;
            }
            ul a{
                display: block;
                height: 70px;
                width: 100%;
                line-height: 65px;
                font-size: 22px;
                color: white;
                box-sizing: border-box;
                border-bottom: 1px solid rgba(255,255,255,.1);
                transition: 0.4s;
                // padding-left: -40px;
                list-style: none;
                text-decoration: none;
            }
            ul li:hover a{
                padding-left: 20px;
            }
            .active {
                font-weight: bold;
                background-color: #fff;
                color: #02414D;
                height: 70px;
            }
            img{
                padding-top: 10px;
                // padding-right: 5px;
            }
            p{
                margin-top: -80px;
                padding-left: 60px;
    
            }
        }
        .head{
            width: calc(100% - 340px);
            height: 100%;
            top: 0;
            right: 0;
            background-color: #F5F5F5;
            margin-left: 20%;
            position: fixed;
            .wrap-bagianAtas {
                display: flex;
                flex-direction: row;
                width: 100%;
                background-color: white;
                height: 15%;
                position: relative;
                .bagianAtas {
                    color: #02414D;
                    width: 60%;
                    margin-left: 30px;
                    align-self: center;
                    height: 8vh;
                    font-size: 1em;
                }
                .cari {
                    color: black;
                    height: 8vh;
                    width:40%;
                    background-color: white;
                    margin-top: auto;
                    margin-bottom: auto;
                    margin-left: auto;
                    float: right;
                    .inputcari {
                        width: 40%;
                        height: 3em;
                        padding: 10px 40px;
                        margin: 8px 15px;
                        box-sizing: border-box;
                        border-radius: 10px;
                        border:0.2em solid #F5F5F5;
                        float: right;
                        font-size: 1em;
                        margin-right: 10%;
                        background-color: #F5F5F5;
                        position:'fixed';
                        background-image: url("https://img.icons8.com/ios-glyphs/20/989898/search--v1.png");
                        background-repeat: no-repeat;
                        background-position: 10px;   
                    }
                }
            }
            .wrap-table {
                padding-top: 5px;
                height: 80%;
                width: 100%;
                background-color: #fff;
                align-items: center;
                margin-top: 10px;
                overflow-y: auto;
                .btn_tambah{
                    background-color: #02414D;
                    color: white;
                    border: none;
                    box-shadow: 0 4px 8px 0 rgba(0.2,0.2,0.2,0.2);
                    padding: 10px;
                    border-radius: 5px;
                    margin-top: 10px;
                    margin-left: 15px;
                }

                .btn_tambah:hover{
                    background: #011c22;
                }
                .table {
                    margin-left: 15px;
                    margin-right: 15px;
                    margin-top: 15px;

                    table {
                        border-collapse: collapse;
                        border: 1px solid #EBEBEB;
                        text-align: center;
                        vertical-align: middle;
                        width: 100%;
                        thead {
                            background-color: #f5f5f5 ;
                            color: #02414D;
                            font-size: 15px;
                            letter-spacing: 2%;
                        }
                        thead th {
                            width: 10%;
                        }
                        // thead tr {
                        //     font-size: 20px;
                        // }
                        tbody tr:nth-child(odd) {
                            background-color: #fff;
                        }
                        tbody tr:nth-child(even) {
                            background-color: #f5f5f5;
                        }
                        th,td { 
                            // border: 1px solid black;
                            padding: 8px;
                            font-size: 12px;
                            color: #02414D;
                        }
                        .aksi {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            .btn_ubah{
                                background-color: #4EBFFF;
                                color: white;
                                border: none;
                                box-shadow: 0 4px 8px 0 rgba(0.2,0.2,0.2,0.2);
                                padding: 8px;
                                margin: 5px;
                                border-radius: 5px;
                            }

                            .btn_ubah:hover{
                                background: #44a6df;
                            }
                            .btn_hapus{
                                background-color: red;
                                color: white;
                                border: none;
                                box-shadow: 0 4px 8px 0 rgba(0.2,0.2,0.2,0.2);
                                padding: 8px;
                                margin: 5px;
                                border-radius: 5px;
                            }
                            .btn_hapus:hover{
                                background: rgb(190, 2, 2);
                            }
                        }
                        
                    }
                }
            }    
        }
    }
