<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='dataPasienAdmin.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <title>Data Pasien</title>
</head>
<body>
  <div class="body">
    <div class="sidebar">
      <header class="header">KliniX</header>
      <ul class="ul">
        <li>
          <a href="/dashboard">
            <img src="https://img.icons8.com/windows/48/FFFFFF/home-page.png" />
            <!-- <a target="_blank" href="https://icons8.com/icon/6g6b5Mh-1uJ7/home-page">Home Page icon by Icons8</a> -->
            <p>Beranda</p>
          </a>
        </li>
        <li>
          <a href="/pasien" class="active">
            <img
              src="https://img.icons8.com/external-tanah-basah-basic-outline-tanah-basah/48/02414D/external-hospital-bed-healthcare-tanah-basah-basic-outline-tanah-basah.png"
               />
            <!-- <img src="https://img.icons8.com/small/42/FFFFFF/user.png" /> -->
            <p>Pasien</p>
          </a>
        </li>
        <!-- <li>
          <a href="">
            <img src="https://img.icons8.com/external-tanah-basah-basic-outline-tanah-basah/48/FFFFFF/external-medical-report-healthcare-tanah-basah-basic-outline-tanah-basah.png"
             />
            <p>Rekam Medis</p>
          </a>
        </li> -->
        <li>
          <a href="/tindakan_medis">
            <img src="https://img.icons8.com/external-tanah-basah-basic-outline-tanah-basah/48/FFFFFF/external-healthcare-1-healthcare-tanah-basah-basic-outline-tanah-basah.png" 
            />
            <!-- <a target="_blank" href="https://icons8.com/icon/oCzpAjdWh4qT/healthcare-1">healthcare 1 icon by Icons8</a> -->
            <p>Tindakan Medis</p>
          </a>
        </li>
        <li>
          <a href="/obat">
            <img src="https://img.icons8.com/external-tanah-basah-basic-outline-tanah-basah/48/FFFFFF/external-medicine-healthcare-tanah-basah-basic-outline-tanah-basah.png"
             />
            <!-- <a target="_blank" href="https://icons8.com/icon/7N4bD4LTeOZF/medicine">medicine icon by Icons8</a> -->
            <p>Obat</p>
          </a>
        </li>
        <li>
          <a href="/akun">
            <img src="https://img.icons8.com/fluency-systems-regular/48/FFFFFF/user.png" />
            <!-- <a target="_blank" href="https://icons8.com/icon/zxB19VPoVLjK/user">User icon by Icons8</a> -->
            <p>Akun</p>
          </a>
        </li>
        <li>
          <a href="/logout">
            <img src="https://img.icons8.com/windows/48/FFFFFF/exit.png" />
            <!-- <a target="_blank" href="https://icons8.com/icon/22112/logout">Logout icon by Icons8</a> -->
            <p>Logout</p>
          </a>
        </li>
      </ul>
    </div>
  
    <div class="head">
      <div class="wrap-bagianAtas">
        <div class="bagianAtas">
          <h1>Data Pasien Terdaftar</h1>
        </div>
        <div class="cari">
          
          <input type="text" class="inputcari" placeholder="Cari..." id="myInput" onkeyup="myFunction()"/>
        </div>
      </div>
  
      <div class="wrap-table">
        <div >
          <a href="{{ url_for('pasien_tambah') }}">
            <button class="btn_tambah">
              Tambah Data Pasien
            </button>
          </a>
        </div>
        <div class="table">
          <table id="myTable">
            <thead>
              <tr>
                <th>Nama</th>
                <th>No. Rekam Medis</th>
                <th>No. BPJS</th>
                <th>Kelamin (P/L)</th>
                <th>TTL</th>
                <th>Alamat</th>
                <th>No. HP</th>
                <th>Riwayat Penyakit / Alergi</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
              {% for pasien in pasien %}
                <tr>
                  <td>{{ pasien['nama'] }}</td>
                  <td>{{ pasien['no_rekam_medik'] }}</td>
                  <td>{{ pasien['no_bpjs'] }}</td>
                  <td>{{ pasien['jenis_kelamin'] }}</td>
                  <td>{{ pasien['ttl'] }}</td>
                  <td>{{ pasien['alamat'] }}</td>
                  <td>{{ pasien['no_hp'] }}</td>
                  <td>{{ pasien['riwayat_penyakit'] }}</td>
                  <td>
                    <div class="aksi">
                      <a href="{{ url_for('pasien_rekam_medis', no_rekam_medik = pasien['no_rekam_medik']) }}">
                        <button class="btn_rekammedis"> 
                          <img src="https://img.icons8.com/external-tanah-basah-basic-outline-tanah-basah/20/FFFFFF/external-medical-report-healthcare-tanah-basah-basic-outline-tanah-basah.png"/> 
                        </button>
                      </a>
                      <a href="{{ url_for('pasien_edit', no_rekam_medik = pasien['no_rekam_medik']) }}">
                        <button class="btn_ubah">
                          <img src="https://img.icons8.com/windows/20/FFFFFF/edit--v1.png"/>
                        </button>
                      </a>
                        <a href="{{ url_for('pasien_hapus', no_rekam_medik = pasien['no_rekam_medik']) }}" >
                          <button class="btn_hapus" >
                            <img src="https://img.icons8.com/pix/20/FFFFFF/experimental-delete-pix.png"/>
                          </button>
                        </a>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  function myFunction() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
  
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
  </script>
</html>
    