<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='historyRekamMedisDokter.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <title>History Rekam Medis</title>
</head>

<body>
  <div class="body">
    <div class="sidebar">
      <header class="header">KliniX</header>
      <ul class="ul">
        
        <li>
          <a href="/daftar_pasien" class="active">
            <img
              src="https://img.icons8.com/external-tanah-basah-basic-outline-tanah-basah/48/02414D/external-medical-report-healthcare-tanah-basah-basic-outline-tanah-basah.png"
               />
            <p>Layanan</p>
          </a>
        </li>
        <li>
          <a href="/logout">
            <img src="https://img.icons8.com/windows/48/FFFFFF/exit.png"  />
            <!-- <a target="_blank" href="https://icons8.com/icon/22112/logout">Logout icon by Icons8</a> -->
            <p>Logout</p>
          </a>
        </li>
      </ul>
    </div>
      <div class="head">
        <div class="bagianAtas">
          <h1>History Rekam Medis</h1>
          <div class="line"></div>
          <h2>Data Pasien</h2>
          <div class="space">
            <div class="left-side">
              <p>Nama : {{ pasien['nama'] }}</p>
              <p>Tempat, Tanggal Lahir : {{ pasien['ttl'] }}</p>
              <p>Alamat : {{ pasien['alamat'] }}</p>
              <p>No. Telp : {{ pasien['no_hp'] }}</p>
            </div>
            <div class="right-side">
              <p> No. Rekam Medis : {{ pasien['no_rekam_medik'] }}</p>
              <p> Jenis Kelamin : {{ pasien['jenis_kelamin'] }}</p>
              <p> Riwayat Penyakit : {{ pasien['riwayat_penyakit'] }}</p>
            </div>
          </div>
          <div class="table">
            <h2>Data Rekam Medis</h2>

            <div>
              <a href="{{ url_for('form_dokter',no_rekam_medis=pasien['no_rekam_medik']) }}">
                <button class="btn_tambah">
                  Tambah Data Rekam Medis
                </button>
              </a>
            </div>
            <table>
              <thead>
                
                <tr>
                  <th>No.</th>
                  <th>Tanggal</th>
                  <th>Diagnosis</th>
                  <th>Tindakan</th>
                  <th>Ket</th>
                  <th>Nama Dokter</th>
                  <th>Tipe Dokter</th>
                </tr>
              </thead>
              <tbody>
                {% for rm in rekam_medis %}
                <tr>
                  <td>{{loop.index}}</td>
                  <td>{{ rm['tanggal'] }}</td>
                  <td>{{ rm['diagnosis'] }}</td>
                  <td>{{ rm['nama_tindakan'] }}</td>
                  <td>{{ rm['keterangan'] }}</td>
                  <td>{{ rm['username_dokter'] }}</td>
                  <td>{{ rm['tipe'] }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</body>
</html>