<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='daftarPasien.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <title>Daftar Pasien Umum</title>
</head>

<body>
  <div class="body">
    <div class="sidebar">
      <header class="header">KliniX</header>
      <ul class="ul">
        
        <li>
          <a href="/daftar_pasien" class="active">
            <img
              src="https://img.icons8.com/external-tanah-basah-basic-outline-tanah-basah/48/02414D/external-medical-report-healthcare-tanah-basah-basic-outline-tanah-basah.png"
               />
            <p>Layanan</p>
          </a>
        </li>
        <li>
          <a href="/logout">
            <img src="https://img.icons8.com/windows/48/FFFFFF/exit.png"  />
            <!-- <a target="_blank" href="https://icons8.com/icon/22112/logout">Logout icon by Icons8</a> -->
            <p>Logout</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="head">
      <div class="wrap-bagianAtas">
        <div class="bagianAtas">
          <h1>Daftar Pasien Umum</h1>
        </div>
    </div>

      <div class="wrap-table">
        {% if not pasien %}
        <div class="logo">
          <img src="https://img.icons8.com/clouds/300/000000/search-in-list.png"/>
          <h2 class="logoTxt">Tidak Ada Pasien</h2>
        </div>
        {% elif pasien %}
        <div class="table">
          <table>
            <thead>
              <tr>
                <th>No. Urut</th>
                <th>Nama</th>
                <th>No. Rekam Medis</th>
                <th>Status</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
              {% for pas in pasien %}
              <tr>
                
                <td>{{ pas['no_urut'] }}</td>
                <td>{{ pas['nama_pasien'] }}</td>
                <td>{{ pas['no_rekam_medis'] }}</td>
                <td>{{ pas['status'] }}</td>
                <td>
                  <div class="aksi">
                    <a href="{{ url_for('history_rekam_medis_dokter', no_rm_pasien = pas['no_rekam_medis']) }}">
                      <button class="btn_rekammedis">
                        Layani
                      </button>
                  </a>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</body>
</html>