<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='historyRekamMedisAdmin.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <title>History Rekam Medis</title>
</head>

<body>
  <div class="body">
      <div class="sidebar">
        <header class="header">KliniX</header>
        <ul class="ul">
          <li>
            <a href="/dashboard">
              <img src="https://img.icons8.com/windows/48/FFFFFF/home-page.png" />
              <!-- <a target="_blank" href="https://icons8.com/icon/6g6b5Mh-1uJ7/home-page">Home Page icon by Icons8</a> -->
              <p>Beranda</p>
            </a>
          </li>
          <li>
            <a href="/pasien" class="active">
              <img
                src="https://img.icons8.com/external-tanah-basah-basic-outline-tanah-basah/48/02414D/external-hospital-bed-healthcare-tanah-basah-basic-outline-tanah-basah.png" />
              <!-- <img src="https://img.icons8.com/small/42/FFFFFF/user.png" /> -->
              <p>Pasien</p>
            </a>
          </li>
          <li>
            <a href="/tindakan_medis">
              <img
              src="https://img.icons8.com/external-tanah-basah-basic-outline-tanah-basah/48/FFFFFF/external-healthcare-1-healthcare-tanah-basah-basic-outline-tanah-basah.png"
               />
              <!-- <a target="_blank" href="https://icons8.com/icon/oCzpAjdWh4qT/healthcare-1">healthcare 1 icon by Icons8</a> -->
              <p>Tindakan Medis</p>
            </a>
          </li>
          <li>
            <a href="/obat">
              <img
              src="https://img.icons8.com/external-tanah-basah-basic-outline-tanah-basah/48/FFFFFF/external-medicine-healthcare-tanah-basah-basic-outline-tanah-basah.png"
               />
              <!-- <a target="_blank" href="https://icons8.com/icon/7N4bD4LTeOZF/medicine">medicine icon by Icons8</a> -->
              <p>Obat</p>
            </a>
          </li>
          <li>
            <a href="/akun">
              <img src="https://img.icons8.com/fluency-systems-regular/48/FFFFFF/user.png"  />
              <!-- <a target="_blank" href="https://icons8.com/icon/zxB19VPoVLjK/user">User icon by Icons8</a> -->
              <p>Akun</p>
            </a>
          </li>
          <li>
            <a href="/logout">
              <img src="https://img.icons8.com/windows/48/FFFFFF/exit.png"  />
              <!-- <a target="_blank" href="https://icons8.com/icon/22112/logout">Logout icon by Icons8</a> -->
              <p>Logout</p>
            </a>
          </li>
        </ul>
      </div>
      
      <div class="head">
        <div class="bagianAtas">
          <h1>History Rekam Medis</h1>
          <div class="line"></div>
          <h2>Data Pasien</h2>
          <div class="space">
            <div class="left-side">
              <p>Nama : {{ pasien['nama'] }}</p>
              <p>Tanggal Lahir : {{ pasien['ttl'] }}</p>
              <p>Alamat : {{ pasien['alamat'] }}</p>
              <p>No. Telp : {{ pasien['no_hp'] }}</p>
            </div>
            <div class="right-side">
              <p> No. Rekam Medis : {{ pasien['no_rekam_medik'] }}</p>
              <p> Jenis Kelamin : {{ pasien['jenis_kelamin'] }}</p>
              <p> Riwayat Penyakit : {{ pasien['riwayat_penyakit'] }}</p>
            </div>
          </div>
          <div class="table">
            <h2>Data Rekam Medis</h2>
            <div class="button_rekammedis">
              <a href="{{ url_for('rekam_medik_tambah_umum', no_rekam_medik = pasien['no_rekam_medik']) }}">
              <button
                class="btn_tambah"
              >
                Tambah Data Rekam Medis Dokter Umum
              </button>
              </a>
              <a href="{{ url_for('rekam_medik_tambah_gigi', no_rekam_medik = pasien['no_rekam_medik']) }}">
              <button class="btn_tambah">
                Tambah Data Rekam Medis Dokter Gigi
              </button>
              </a>
            </div>

            <table>
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Tanggal</th>
                  <th>Diagnosis</th>
                  <th>Kode Tindakan</th>
                  <th>Nama Tindakan</th>
                  <th>Ket</th>
                  <th>Nama Dokter</th>
                  <th>Tipe Dokter</th>
                </tr>
              </thead>
              <tbody>
                {% if rekam_medik %}
                  {% for rekam_medik in rekam_medik %}
                    <tr>
                      <td>{{ loop.index }}</td>
                      <td>{{ rekam_medik['tanggal'] }}</td>
                      <td>{{ rekam_medik['diagnosis'] }}</td>
                      <td>{{ rekam_medik['kode_tindakan'] }}</td>
                      <td>{{ rekam_medik['nama_tindakan'] }}</td>
                      <td>{{ rekam_medik['keterangan'] }}</td>
                      <td>{{ rekam_medik['username_dokter'] }}</td>
                      <td>{{ rekam_medik['tipe'] }}</td>
                    </tr>
                  {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</body>
</html>