<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='ubahObatAdmin.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <title>Edit Obat</title>
</head>

<body>
    <div class="body">
      <div class="sidebar">
        <header class="header">KliniX</header>
        <ul class="ul">
          <li>
            <a href="/dashboard">
              <img src="https://img.icons8.com/windows/48/FFFFFF/home-page.png" />
              <!-- <a target="_blank" href="https://icons8.com/icon/6g6b5Mh-1uJ7/home-page">Home Page icon by Icons8</a> -->
              <p>Beranda</p>
            </a>
          </li>
          <li>
            <a href="/pasien">
              <img
              src="https://img.icons8.com/external-tanah-basah-basic-outline-tanah-basah/48/FFFFFF/external-hospital-bed-healthcare-tanah-basah-basic-outline-tanah-basah.png"
               />
              <!-- <img src="https://img.icons8.com/small/42/FFFFFF/user.png" /> -->
              <p>Pasien</p>
            </a>
          </li>
          <!-- <li>
            <a href="">
              <img
              src="https://img.icons8.com/external-tanah-basah-basic-outline-tanah-basah/48/FFFFFF/external-medical-report-healthcare-tanah-basah-basic-outline-tanah-basah.png"
               />
              <p>Rekam Medis</p>
            </a>
          </li> -->
          <li>
            <a href="/tindakan_medis">
              <img
              src="https://img.icons8.com/external-tanah-basah-basic-outline-tanah-basah/48/FFFFFF/external-healthcare-1-healthcare-tanah-basah-basic-outline-tanah-basah.png"
               />
              <!-- <a target="_blank" href="https://icons8.com/icon/oCzpAjdWh4qT/healthcare-1">healthcare 1 icon by Icons8</a> -->
              <p>Tindakan Medis</p>
            </a>
          </li>
          <li>
            <a href="/obat" class="active">
              <img
              src="https://img.icons8.com/external-tanah-basah-basic-outline-tanah-basah/48/02414D/external-medicine-healthcare-tanah-basah-basic-outline-tanah-basah.png"
               />
              <!-- <a target="_blank" href="https://icons8.com/icon/7N4bD4LTeOZF/medicine">medicine icon by Icons8</a> -->
              <p>Obat</p>
            </a>
          </li>
          <li>
            <a href="/akun">
              <img src="https://img.icons8.com/fluency-systems-regular/48/FFFFFF/user.png"  />
              <!-- <a target="_blank" href="https://icons8.com/icon/zxB19VPoVLjK/user">User icon by Icons8</a> -->
              <p>Akun</p>
            </a>
          </li>
          <li>
            <a href="/logout">
              <img src="https://img.icons8.com/windows/48/FFFFFF/exit.png"  />
              <!-- <a target="_blank" href="https://icons8.com/icon/22112/logout">Logout icon by Icons8</a> -->
              <p> Logout </p>
            </a>
          </li>
        </ul>
      </div>

      <div class="head">
        <div class="wrap-bagianAtas">
          <div class="bagianAtas">
            <h1>Form Pengubahan Data Obat</h1>
          </div>
        </div>

        <div class="wrap-table">
          <form action="{{ url_for('obat_edit', id_obat = obat['id_obat']) }}" method="POST">
            <div class="flex-input">
              <div class="wrap-input">
                <label htmlfor="idobat" class="label-input">
                  ID Obat
                </label>
                <input
                  type="text"
                  class="input-field"
                  placeholder="Masukkan ID Obat"
                  name="id_obat"
                  value="{{ obat['id_obat'] }}"
                />
              </div>
              <div class="wrap-input">
                <label htmlfor="namaobat" class="label-input">
                  Nama Obat
                </label>
                <input
                  type="text"
                  class="input-field"
                  placeholder="Masukkan Nama Obat"
                  name="nama_obat"
                  value="{{ obat['nama_obat'] }}"
                />
              </div>
            </div>
            <div class="wrap-input">
              <label htmlfor="kuantitas" class="label-input">
                Kuantitas
              </label>
              <input
                type="number"
                class="input-field"
                placeholder="Masukkan Kuantitas"
                name="kuantitas"
                value="{{ obat['kuantitas'] }}"
              />
            </div>
            <div class="flex-input">
              <div class="wrap-input">
                <label htmlfor="harga_jual" class="label-input">
                  Harga Jual/Strip
                </label>
                <input
                  type="number"
                  class="input-field"
                  placeholder="Masukkan Harga Jual/Strip"
                  name="harga_strip"
                  value="{{ obat['harga_strip'] }}"
                />
              </div>
              <div class="wrap-input">
                <label htmlfor="hargajualsatuan" class="label-input">
                  Harga Jual Satuan
                </label>
                <input
                  type="number"
                  class="input-field"
                  placeholder="Masukkan Harga Jual Satuan"
                  name="harga_satuan"
                  value="{{ obat['harga_satuan'] }}"
                />
              </div>
            </div>
            <div class="wrap-input">
              <label htmlfor="hargabeli" class="label-input">
                Harga Beli
              </label>
              <input
                type="number"
                class="input-field"
                placeholder="Masukkan Harga Beli"
                name="harga_beli"
                value="{{ obat['harga_beli'] }}"
              />
            </div>
            <div class="wrap-input">
              <label htmlfor="expdate" class="label-input">
                Exp Date
              </label>
              <input
                type="date"
                class="input-field"
                placeholder="Masukkan Exp Date"
                name="exp_date"
                value="{{ obat['exp_date'] }}"
              />
            </div>
            <div class="wrap-input">
              <label htmlfor="jenis" class="label-input">
                Jenis Obat
              </label>
              <select name="jenis_obat" id="jenis" class="input-field">
                {% if obat['jenis_obat'] == 'Sirup' %}
                <option value="" disabled>Pilih Jenis Obat</option>
                <option value="Sirup" selected>Sirup</option>
                <option value="Tablet">Tablet</option>
                <option value="Kapsul">Kapsul</option>
                <option value="Ampul">Ampul</option>
                {% elif obat['jenis_obat'] == 'Tablet' %}
                <option value="" disabled>Pilih Jenis Obat</option>
                <option value="Sirup">Sirup</option>
                <option value="Tablet" selected>Tablet</option>
                <option value="Kapsul">Kapsul</option>
                <option value="Ampul">Ampul</option>
                {% elif obat['jenis_obat'] == 'Kapsul' %}
                <option value="" disabled>Pilih Jenis Obat</option>
                <option value="Sirup">Sirup</option>
                <option value="Tablet">Tablet</option>
                <option value="Kapsul" selected>Kapsul</option>
                <option value="Ampul">Ampul</option>
                {% elif obat['jenis_obat'] == 'Ampul' %}
                <option value="" disabled>Pilih Jenis Obat</option>
                <option value="Sirup">Sirup</option>
                <option value="Tablet">Tablet</option>
                <option value="Kapsul">Kapsul</option>
                <option value="Ampul" selected>Ampul</option>
                {% endif  %}
              </select>
            </div>
              <input type="submit" class="btn-ubah" value="Ubah Data" name="ubahdata" />
          </form>

        </div>
      </div>
    </div>
</body>
</html>
