<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='waitingListGigi.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <title>Waiting List Gigi</title>
</head>

<body>
  <div class="body">
    <div class="sidebar">
      <header class="header">KliniX</header>
      <ul class="ul">
        <li>
          <a href="/dashboard">
            <img src="https://img.icons8.com/windows/48/FFFFFF/home-page.png" />
            <!-- <a target="_blank" href="https://icons8.com/icon/6g6b5Mh-1uJ7/home-page">Home Page icon by Icons8</a> -->

            <p>Beranda</p>
          </a>
        </li>
        <li>
          <a href="/waiting_list_umum" >
            <img src="https://img.icons8.com/material-outlined/48/FFFFFF/ingredients-list.png" />
            <!-- <a target="_blank" href="https://icons8.com/icon/101505/list-view">List View icon by Icons8</a> -->
            <p>Waiting List Umum</p>
          </a>
        </li>
        <li>
          <a href="/waiting_list_gigi" class="active">
            <img src="https://img.icons8.com/windows/48/02414D/tooth.png" />
            <!-- <a target="_blank" href="https://icons8.com/icon/4948/tooth">Tooth icon by Icons8</a> -->
            <p>Waiting List Gigi</p>
          </a>
        </li>
        <li>
          <a href="/pasien">
            <img
              src="https://img.icons8.com/external-tanah-basah-basic-outline-tanah-basah/48/FFFFFF/external-hospital-bed-healthcare-tanah-basah-basic-outline-tanah-basah.png" />
            <!-- <img src="https://img.icons8.com/small/42/FFFFFF/user.png" /> -->
            <p>Pasien</p>
          </a>
        </li>
        <li>
          <a href="/logout">
            <img src="https://img.icons8.com/windows/48/FFFFFF/exit.png" />
            <!-- <a target="_blank" href="https://icons8.com/icon/22112/logout">Logout icon by Icons8</a> -->
            <p>Logout</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="head">
      <div class="wrap-bagianAtas">
        <div class="bagianAtas">
          <h1>Waiting List Pelayanan Dokter Gigi</h1>
        </div>
        <div class="cari">
          <input type="text" class="inputcari" placeholder="Cari..." id="myInput" onkeyup="myFunction()"/>
        </div>
      </div>

      <div class="wrap-table">
        {% if not wlg %}
        <div class="logo">
          <img src="https://img.icons8.com/clouds/300/000000/search-in-list.png"/>
          <h2 class="logoTxt">Tidak Ada Pasien</h2>
        </div>
        {% elif wlg %}
        <div class="table">
          <table id="myTable">
            <thead>
              <tr>
                <th>No. Urut</th>
                <th>No.Rekam Medis</th>
                <th>Nama Pasien</th>
                <th>Status</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
              {% for wl in wlg %}
              <tr>
                <td>{{ wl['no_urut'] }}</td>
                <td>{{ wl['no_rekam_medis'] }}</td>
                <td>{{ wl['nama_pasien'] }}</td>
                <td>{{ wl['status'] }}</td>
                <td>
                  <a href="{{ url_for('tagihan_gigi', no_urut = wl['no_urut'], no_rekam_medis = wl['no_rekam_medis']) }}">
                    <button class="btn-tagih">
                      Tagihan
                    </button>
                  </a>
                  <a href="{{ url_for('waiting_list_gigi_hapus', no_urut = wl['no_urut']) }}">
                    <button class="btn-hapus">
                      Hapus
                    </button>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</body>
<script>
  function myFunction() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
  
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[2];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
  </script>
</html>